*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-dark{
    background: #4673C8 !important;
}

.border-primary{
    border-color: #4673C8 !important;
}

.card{
    overflow: hidden;
    box-shadow: 0 0 2px #4673C8;
}

.bg-secondary{
    background: #C84673 !important;
}

.img{
  padding: 5px 5px;
  height: 200px;
  overflow: hidden;
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  object-position: center center;
}