*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(202, 202, 202);
}

.bg-dark{
    background: #000 !important;
}
.img{
  padding: 5px 5px;
  height: 200px;
  overflow: hidden;
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  object-position: center center;
}